extends layout

block content
  //- h1= title
  //- span Welcome to #{title}
  section.container.gradient-custom.mt-5.py-5
    .container.row.mb-4.pb-2
      div.col-md-4.col-sm-4
        img.float-end(src='https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/ilu3.webp' width='150px')
      div.col-md-8.col-sm-8
        h4.text-white.fst-italic
          strong #{title}
        span.text-white.fst-italic
          strong #{today}
        //- p.text-white.mb-0 #{locations.name}, #{locations.country}
        //- p.text-white.mb-0 #{today}
        //- p.text-white.mb-0 #{forecastDay.condition.text}
