extends layout

block content
  .container.my-5
    .text-center
      span.fw-bold.me-2  Degree
      label.switch.me
        input(type='checkbox' name='graduate')
        span.slider.round
      span.fw-bold.ms-2  Fahrenheit
  section.container.gradient-custom.mt-5.py-5
    h4.text-white.text-center.fst-italic.mb-5 
      strong Weather Forecast of #{today}
    #carouselExampleIndicators.carousel.slide(data-bs-ride='carousel')
      .carousel-indicators
        button.active(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='1' aria-label='Slide 2')
        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='2' aria-label='Slide 3')
        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='3' aria-label='Slide 4')
        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='4' aria-label='Slide 5')
      .carousel-inner
        .carousel-item.active
          .container.d-flex.justify-content-around.align-items-center.mb-4.pb-2
            div
              h2.display-2.text-white.celcius
                strong #{forecastDay.avgtemp_c}&deg;C
              h2.display-2.text-white.fahrenheit.d-none
                strong #{forecastDay.avgtemp_f}&#x2109;
              p.text-white.mb-0 #{locations.name}, #{locations.country}
              p.text-white.mb-0 #{today}
              p.text-white.mb-0 #{forecastDay.condition.text}
            div
              img(src='https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/ilu3.webp' width='150px')
        .carousel-item
          .d-flex.justify-content-around.text-center.mb-4.pb-3.pt-2
            .flex-column
              p.small.text-white
                strong.celcius #{forecastHour[0].temp_c}&deg;C
                strong.fahrenheit.d-none #{forecastHour[0].temp_f}&#x2109;
              i.fas.fa-sun.fa-2x.mb-3(style='color: #ddd;')
              p.mb-0.text-white
                strong 00:00
              p.mb-0.text-white(style='font-size: .65rem;') AM
            .flex-column
              p.small.text-white
                strong.celcius #{forecastHour[1].temp_c}&deg;C
                strong.fahrenheit.d-none #{forecastHour[1].temp_f}&#x2109;
              i.fas.fa-sun.fa-2x.mb-3(style='color: #ddd;')
              p.mb-0.text-white
                strong 1:00
              p.mb-0.text-white(style='font-size: .65rem;') AM
            .flex-column
              p.small.text-white
                strong.celcius #{forecastHour[2].temp_c}&deg;C
                strong.fahrenheit.d-none #{forecastHour[2].temp_f}&#x2109;
              i.fas.fa-cloud.fa-2x.mb-3(style='color: #ddd;')
              p.mb-0.text-white
                strong 2:00
              p.mb-0.text-white(style='font-size: .65rem;') AM
            .flex-column
              p.small.text-white
                strong.celcius #{forecastHour[3].temp_c}&deg;C
                strong.fahrenheit.d-none #{forecastHour[3].temp_f}&#x2109;
              i.fas.fa-cloud.fa-2x.mb-3(style='color: #ddd;')
              p.mb-0.text-white
                strong 3:00
              p.mb-0.text-white(style='font-size: .65rem;') AM
            .flex-column
              p.small.text-white
                strong.celcius #{forecastHour[4].temp_c}&deg;C
                strong.fahrenheit.d-none #{forecastHour[4].temp_f}&#x2109;
              i.fas.fa-cloud-showers-heavy.fa-2x.mb-3(style='color: #ddd;')
              p.mb-0.text-white
                strong 4:00
              p.mb-0.text-white(style='font-size: .65rem;') AM
            .flex-column
              p.small.text-white
                strong.celcius #{forecastHour[5].temp_c}&deg;C
                strong.fahrenheit.d-none #{forecastHour[5].temp_f}&#x2109;
              i.fas.fa-cloud-showers-heavy.fa-2x.mb-3(style='color: #ddd;')
              p.mb-0.text-white
                strong 5:00
              p.mb-0.text-white(style='font-size: .65rem;') AM
        .carousel-item
          .d-flex.justify-content-around.text-center.mb-4.pb-3.pt-2
            .flex-column
              p.small.text-white
                strong.celcius #{forecastHour[6].temp_c}&deg;C
                strong.fahrenheit.d-none #{forecastHour[6].temp_f}&#x2109;
              i.fas.fa-cloud-showers-heavy.fa-2x.mb-3(style='color: #ddd;')
              p.mb-0.text-white
                strong 6:00
              p.mb-0.text-white(style='font-size: .65rem;') AM
            .flex-column
              p.small.text-white
                strong.celcius #{forecastHour[7].temp_c}&deg;C
                strong.fahrenheit.d-none #{forecastHour[7].temp_f}&#x2109;
              i.fas.fa-sun.fa-2x.mb-3(style='color: #ddd;')
              p.mb-0.text-white
                strong 7:00
              p.mb-0.text-white(style='font-size: .65rem;') AM
            .flex-column
              p.small.text-white
                strong.celcius #{forecastHour[8].temp_c}&deg;C
                strong.fahrenheit.d-none #{forecastHour[8].temp_f}&#x2109;
              i.fas.fa-sun.fa-2x.mb-3(style='color: #ddd;')
              p.mb-0.text-white
                strong 8:00
              p.mb-0.text-white(style='font-size: .65rem;') AM
            .flex-column
              p.small.text-white
                strong.celcius #{forecastHour[9].temp_c}&deg;C
                strong.fahrenheit.d-none #{forecastHour[9].temp_f}&#x2109;
              i.fas.fa-cloud.fa-2x.mb-3(style='color: #ddd;')
              p.mb-0.text-white
                strong 9:00
              p.mb-0.text-white(style='font-size: .65rem;') AM
            .flex-column
              p.small.text-white
                strong.celcius #{forecastHour[10].temp_c}&deg;C
                strong.fahrenheit.d-none #{forecastHour[10].temp_f}&#x2109;
              i.fas.fa-cloud.fa-2x.mb-3(style='color: #ddd;')
              p.mb-0.text-white
                strong 10:00
              p.mb-0.text-white(style='font-size: .65rem;') AM
            .flex-column
              p.small.text-white
                strong.celcius #{forecastHour[11].temp_c}&deg;C
                strong.fahrenheit.d-none #{forecastHour[11].temp_f}&#x2109;
              i.fas.fa-cloud-showers-heavy.fa-2x.mb-3(style='color: #ddd;')
              p.mb-0.text-white
                strong 11:00
              p.mb-0.text-white(style='font-size: .65rem;') AM
        .carousel-item
          .d-flex.justify-content-around.text-center.mb-4.pb-3.pt-2
            .flex-column
              p.small.text-white
                strong.celcius #{forecastHour[12].temp_c}&deg;C
                strong.fahrenheit.d-none #{forecastHour[12].temp_f}&#x2109;
              i.fas.fa-sun.fa-2x.mb-3(style='color: #ddd;')
              p.mb-0.text-white
                strong 12:00
              p.mb-0.text-white(style='font-size: .65rem;') PM
            .flex-column
              p.small.text-white
                strong.celcius #{forecastHour[13].temp_c}&deg;C
                strong.fahrenheit.d-none #{forecastHour[13].temp_f}&#x2109;
              i.fas.fa-sun.fa-2x.mb-3(style='color: #ddd;')
              p.mb-0.text-white
                strong 1:00
              p.mb-0.text-white(style='font-size: .65rem;') PM
            .flex-column
              p.small.text-white
                strong.celcius #{forecastHour[14].temp_c}&deg;C
                strong.fahrenheit.d-none #{forecastHour[14].temp_f}&#x2109;
              i.fas.fa-cloud.fa-2x.mb-3(style='color: #ddd;')
              p.mb-0.text-white
                strong 2:00
              p.mb-0.text-white(style='font-size: .65rem;') PM
            .flex-column
              p.small.text-white
                strong.celcius #{forecastHour[15].temp_c}&deg;C
                strong.fahrenheit.d-none #{forecastHour[15].temp_f}&#x2109;
              i.fas.fa-cloud.fa-2x.mb-3(style='color: #ddd;')
              p.mb-0.text-white
                strong 3:00
              p.mb-0.text-white(style='font-size: .65rem;') PM
            .flex-column
              p.small.text-white
                strong.celcius #{forecastHour[16].temp_c}&deg;C
                strong.fahrenheit.d-none #{forecastHour[16].temp_f}&#x2109;
              i.fas.fa-cloud-showers-heavy.fa-2x.mb-3(style='color: #ddd;')
              p.mb-0.text-white
                strong 4:00
              p.mb-0.text-white(style='font-size: .65rem;') PM
            .flex-column
              p.small.text-white
                strong.celcius #{forecastHour[17].temp_c}&deg;C
                strong.fahrenheit.d-none #{forecastHour[17].temp_f}&#x2109;
              i.fas.fa-cloud-showers-heavy.fa-2x.mb-3(style='color: #ddd;')
              p.mb-0.text-white
                strong 5:00
              p.mb-0.text-white(style='font-size: .65rem;') PM
        .carousel-item
          .d-flex.justify-content-around.text-center.mb-4.pb-3.pt-2
            .flex-column
              p.small.text-white
                strong.celcius #{forecastHour[18].temp_c}&deg;C
                strong.fahrenheit.d-none #{forecastHour[18].temp_f}&#x2109;
              i.fas.fa-cloud-showers-heavy.fa-2x.mb-3(style='color: #ddd;')
              p.mb-0.text-white
                strong 6:00
              p.mb-0.text-white(style='font-size: .65rem;') PM
            .flex-column
              p.small.text-white
                strong.celcius #{forecastHour[19].temp_c}&deg;C
                strong.fahrenheit.d-none #{forecastHour[19].temp_f}&#x2109;
              i.fas.fa-sun.fa-2x.mb-3(style='color: #ddd;')
              p.mb-0.text-white
                strong 7:00
              p.mb-0.text-white(style='font-size: .65rem;') PM
            .flex-column
              p.small.text-white
                strong.celcius #{forecastHour[20].temp_c}&deg;C
                strong.fahrenheit.d-none #{forecastHour[20].temp_f}&#x2109;
              i.fas.fa-sun.fa-2x.mb-3(style='color: #ddd;')
              p.mb-0.text-white
                strong 8:00
              p.mb-0.text-white(style='font-size: .65rem;') PM
            .flex-column
              p.small.text-white
                strong.celcius #{forecastHour[21].temp_c}&deg;C
                strong.fahrenheit.d-none #{forecastHour[21].temp_f}&#x2109;
              i.fas.fa-cloud.fa-2x.mb-3(style='color: #ddd;')
              p.mb-0.text-white
                strong 9:00
              p.mb-0.text-white(style='font-size: .65rem;') PM
            .flex-column
              p.small.text-white
                strong.celcius #{forecastHour[22].temp_c}&deg;C
                strong.fahrenheit.d-none #{forecastHour[22].temp_f}&#x2109;
              i.fas.fa-cloud.fa-2x.mb-3(style='color: #ddd;')
              p.mb-0.text-white
                strong 10:00
              p.mb-0.text-white(style='font-size: .65rem;') PM
            .flex-column
              p.small.text-white
                strong.celcius #{forecastHour[23].temp_c}&deg;C
                strong.fahrenheit.d-none #{forecastHour[23].temp_f}&#x2109;
              i.fas.fa-cloud-showers-heavy.fa-2x.mb-3(style='color: #ddd;')
              p.mb-0.text-white
                strong 11:00
              p.mb-0.text-white(style='font-size: .65rem;') PM
      button.carousel-control-prev(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.visually-hidden Previous
      button.carousel-control-next(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.visually-hidden Next
  section.container.gradient-custom.mt-5.py-5
    h4.text-white.text-center.mt-3.mb-3 
        strong Analytical data of previous days including #{today}
    .container.d-flex.justify-content-around.align-items-center.mt-5.mb-4.pb-2
      div
        .flex-row
          span.text-white.fst-italic.celcius
            i.fas.fa-temperature-high.mb-3.me-2(style='color: #ddd;')
            strong Highest Temperature : #{highestTempCelcius}&deg;C
        .flex-row 
          span.text-white.fst-italic.fahrenheit.d-none
            i.fas.fa-temperature-high.mb-3.me-2(style='color: #ddd;')
            strong Highest Temperature : #{highestTempFahrenheit}&#x2109;
        .flex-row 
          span.text-white.fst-italic.celcius
            i.fas.fa-temperature-low.mb-3.me-2(style='color: #ddd;')
            strong Lowest Temperature : #{lowestTempCelcius}&deg;C
        .flex-row 
          span.text-white.fst-italic.fahrenheit.d-none
            i.fas.fa-temperature-low.mb-3.me-2(style='color: #ddd;')
            strong Lowest Temperature : #{lowestTempFahrenheit}&#x2109;
        //- h5.display-2.text-white.fahrenheit.d-none
        //-   strong #{forecastDay.avgtemp_f}&#x2109;
        //- p.text-white.mb-0 #{locations.name}, #{locations.country}
        //- p.text-white.mb-0 #{today}
        //- p.text-white.mb-0 #{forecastDay.condition.text}
      div
        .flex-row 
          span.text-white.fst-italic.celcius
            i.fas.fa-temperature-high.mb-3.me-2(style='color: #ddd;')
            strong Max Avg Temperature : #{maxAvgTempCelcius}&deg;C
        .flex-row 
          span.text-white.fst-italic.fahrenheit.d-none
            i.fas.fa-temperature-high.mb-3.me-2(style='color: #ddd;')
            strong Max Avg Temperature : #{maxAvgTempFahrenheit}&#x2109;
        .flex-row 
          span.text-white.fst-italic.celcius
            i.fas.fa-temperature-low.mb-3.me-2(style='color: #ddd;')
            strong Min Avg Temperature : #{minAvgTempCelcius}&deg;C
        .flex-row 
          span.text-white.fst-italic.fahrenheit.d-none
            i.fas.fa-temperature-low.mb-3.me-2(style='color: #ddd;')
            strong Min Avg Temperature : #{minAvgTempFahrenheit}&#x2109;
  script. 
    $(document).ready(function () {
    $('[name="graduate"]').change(function () {
    if ($('[name="graduate"]:checked').is(":checked")) {
    $('.celcius').addClass('d-none');
    $('.fahrenheit').removeClass('d-none');
    } else {
    $('.celcius').removeClass('d-none');
    $('.fahrenheit').addClass('d-none');
    }
    });
    });
